In [2]:
import gzip
import os
import shutil
import pandas as pd
from sklearn.model_selection import train_test_split
import wget
import numpy as np

In [3]:
!ls

catboost_info			   tabnet_data_forest_hyper.ipynb
cat_boost_preds.csv		   test_shrutime.csv
data				   train_shrutime.csv
forest_example_classical_ML.ipynb  Untitled.ipynb
shrutime_classical_ML.ipynb	   xgboost_preds.csv

In [4]:
df=pd.read_csv('data/train_forest_cover.csv')

In [5]:
df.head()

,Elevation,Aspect,Slope,Horizontal_Distance_To_Hydrology,Vertical_Distance_To_Hydrology,Horizontal_Distance_To_Roadways,Hillshade_9am,Hillshade_Noon,Hillshade_3pm,Horizontal_Distance_To_Fire_Points,...,Soil_Type32,Soil_Type33,Soil_Type34,Soil_Type35,Soil_Type36,Soil_Type37,Soil_Type38,Soil_Type39,Soil_Type40,Covertype
0,2631,104,4,0,0,806,226,234,143,1761,...,0,0,0,0,0,0,0,0,0,2
1,3287,107,25,459,130,1144,253,201,61,1099,...,0,0,0,0,0,0,0,0,1,7
2,2130,144,12,30,2,1167,237,238,129,1423,...,0,0,0,0,0,0,0,0,0,4
3,3022,69,12,402,77,4245,232,217,115,1782,...,0,0,0,0,0,0,0,0,0,2
4,3190,60,14,90,29,1634,230,209,108,2301,...,0,1,0,0,0,0,0,0,0,1

In [7]:
test_df=pd.read_csv('data/test_forest_cover.csv')

In [8]:
test_df.head()

,Elevation,Aspect,Slope,Horizontal_Distance_To_Hydrology,Vertical_Distance_To_Hydrology,Horizontal_Distance_To_Roadways,Hillshade_9am,Hillshade_Noon,Hillshade_3pm,Horizontal_Distance_To_Fire_Points,...,Soil_Type32,Soil_Type33,Soil_Type34,Soil_Type35,Soil_Type36,Soil_Type37,Soil_Type38,Soil_Type39,Soil_Type40,Covertype
0,2991,85,9,503,72,5124,233,225,124,5501,...,0,0,0,0,0,0,0,0,0,2
1,3360,185,13,566,102,4468,222,249,158,2561,...,0,1,0,0,0,0,0,0,0,7
2,3286,352,8,90,6,4097,206,226,158,1635,...,0,0,0,0,0,0,0,0,0,1
3,2861,103,13,607,29,450,242,222,108,1170,...,0,0,0,0,0,0,0,0,0,2
4,2834,97,9,108,13,1184,236,227,122,1832,...,0,0,0,0,0,0,0,0,0,2

In [9]:
X=df.drop(labels=['Covertype'],axis=1)

In [10]:
y=df['Covertype']

In [11]:
x_test=test_df.drop(labels=['Covertype'],axis=1)
y_test=test_df['Covertype']

In [12]:
x_train,x_valid,y_train,y_valid=train_test_split(X,y,train_size=0.8)

In [13]:
! pip install pytorch-tabnet

Collecting pytorch-tabnet
  Downloading pytorch_tabnet-3.1.1-py3-none-any.whl (39 kB)
Requirement already satisfied: scipy>1.4 in /home/neham/anaconda3/envs/seathru/lib/python3.9/site-packages (from pytorch-tabnet) (1.6.2)
Requirement already satisfied: torch<2.0,>=1.2 in /home/neham/anaconda3/envs/seathru/lib/python3.9/site-packages (from pytorch-tabnet) (1.7.1+cu101)
Requirement already satisfied: tqdm<5.0,>=4.36 in /home/neham/anaconda3/envs/seathru/lib/python3.9/site-packages (from pytorch-tabnet) (4.60.0)
Requirement already satisfied: numpy<2.0,>=1.17 in /home/neham/anaconda3/envs/seathru/lib/python3.9/site-packages (from pytorch-tabnet) (1.20.3)
Requirement already satisfied: scikit_learn>0.21 in /home/neham/anaconda3/envs/seathru/lib/python3.9/site-packages (from pytorch-tabnet) (0.24.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/neham/anaconda3/envs/seathru/lib/python3.9/site-packages (from scikit_learn>0.21->pytorch-tabnet) (2.1.0)
Requirement already satisfied: joblib>=0.11 in /home/neham/anaconda3/envs/seathru/lib/python3.9/site-packages (from scikit_learn>0.21->pytorch-tabnet) (0.14.1)
Requirement already satisfied: typing-extensions in /home/neham/anaconda3/envs/seathru/lib/python3.9/site-packages (from torch<2.0,>=1.2->pytorch-tabnet) (3.10.0.0)
Installing collected packages: pytorch-tabnet
Successfully installed pytorch-tabnet-3.1.1

In [14]:
from pytorch_tabnet.tab_model import TabNetClassifier

import torch
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score
np.random.seed(0)


import os
from pathlib import Path
import shutil
import gzip

from matplotlib import pyplot as plt
%matplotlib inline

In [15]:
# train=pd.read_csv('/content/data/train_covertype.csv')
# test=pd.read_csv('/content/data/test_covertype.csv')
# val=pd.read_csv('/content/data/val_covertype.csv')

In [16]:
!pip install fast_ml

Requirement already satisfied: fast_ml in /home/neham/anaconda3/envs/seathru/lib/python3.9/site-packages (3.68)

In [17]:
x_train = x_train.to_numpy()
y_train = y_train.to_numpy()
#y_train = np.expand_dims(y_train, axis=1)
#y_train = convert_to_one_hot(y_train)


x_valid = x_valid.to_numpy()
y_valid = y_valid.to_numpy()
#y_valid = np.expand_dims(y_valid, axis=1)
#y_valid = convert_to_one_hot(y_valid)

x_test = x_test.to_numpy()
y_test = y_test.to_numpy()
#y_test = np.expand_dims(y_test, axis=1)
#y_test = convert_to_one_hot(y_test)

print(x_train.shape)
print(y_train.shape)

print(x_valid.shape)
print(y_valid.shape)

print(x_test.shape)
print(y_test.shape)


print(df.shape)
# y = df[df.columns[-1]]
# y = y.to_numpy()
target_cols = ["Covertype"]

(371847, 54)
(371847,)
(92962, 54)
(92962,)
(116203, 54)
(116203,)
(464809, 55)

In [18]:
from pytorch_tabnet.tab_model import TabNetClassifier, TabNetRegressor

In [19]:
from hyperopt import hp

In [20]:
import hyperopt

In [21]:
from sklearn.model_selection import KFold
from sklearn.metrics import log_loss
from sklearn.decomposition import PCA
from sklearn.preprocessing import QuantileTransformer

from hyperopt import fmin, tpe, Trials, STATUS_OK, STATUS_FAIL
from hyperopt.pyll.base import scope
from tqdm.notebook import tqdm

import warnings
warnings.filterwarnings('ignore')

In [22]:
import torch
import torch.nn as nn

In [23]:
x_train.shape

(371847, 54)

In [24]:
def tb_ll_cv(space):
  #print("hello")
  model=TabNetClassifier(n_a=int(space['n_a']), n_d=int(space['n_a']), n_steps=int(space['n_steps']), momentum=space['momentum'], gamma=space['gamma'], optimizer_params=dict(lr=space['lr']), device_name='cuda')
  model.fit(x_train, y_train, eval_set=[(x_valid, y_valid)], batch_size=int(space['batch_size']),max_epochs=40,eval_metric=['logloss'])
  print(model.history["val_0_logloss"])
  return min(model.history["val_0_logloss"])

In [25]:
reg_params = {'n_a': hp.quniform('feature_dim', 20, 60, 1),'n_steps': hp.quniform('n_steps', 1, 8, 1),'momentum': hp.uniform('momentum', np.exp(-5), np.exp(-1)),'gamma': hp.uniform('relaxation_factor', 0.3, 2),
    'batch_size': hp.choice('batch_size',[512, 1024, 2048, 4096, 8192]), 'lr':hp.loguniform('learning_rate', -5, 0)
}

In [ ]:
trials=Trials()
best=fmin(fn=tb_ll_cv, space=reg_params, algo=tpe.suggest, max_evals=15, trials=trials)

Device used : cuda
epoch 0  | loss: 0.73186 | val_0_logloss: 0.68808 |  0:00:23s
epoch 1  | loss: 0.60039 | val_0_logloss: 0.5601  |  0:00:47s
epoch 2  | loss: 0.5558  | val_0_logloss: 0.5059  |  0:01:10s
  0%|          | 0/10 [01:13<?, ?trial/s, best loss=?]

In [ ]:
best

In [ ]:
l_batch=[512, 1024, 2048, 4096, 8192]

In [ ]:
model=TabNetClassifier(n_a=int(best['feature_dim']), n_d=int(best['feature_dim']), n_steps=int(best['n_steps']), momentum=best['momentum'], gamma=best['relaxation_factor'], optimizer_params=dict(lr=best['learning_rate']), device_name='cuda')
model.fit(x_train, y_train, eval_set=[(x_valid, y_valid)], batch_size=l_batch[best['batch_size']],max_epochs=100,eval_metric=['logloss'])

In [ ]:
criterion = nn.CrossEntropyLoss()
loss1 = criterion(torch.from_numpy(model.predict_proba(x_test)),torch.from_numpy(y_test))
print(loss1)

In [ ]:
y_test

In [ ]:
model.predict(x_test)

In [ ]:
model.predict_proba(x_test)

In [ ]:
a=model.predict_proba(x_test)

In [ ]:
pd.DataFrame(a).to_csv("data_preds.csv")